.text__logo {
  font-size: 26px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: 600;
  color: #fff;
  text-align: center;
} 
.text__logo.black {
  color: rgb(18, 34, 35);
} 
.text__logo span {
  display: block;
  font-size: 14px;
  text-transform: lowercase;
  margin: 2px 0px 0px 0px;
  font-family: var(--font-primary);
  font-weight: normal;
}
.content {
  margin: 30px 0px 100px 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.content p {
  margin-bottom: 30px;
}

.content ul li  {
  list-style-type: square;
  margin-bottom: 10px;
  padding-left: 10px;
}
.menu-dark .header__container {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
