[project]
name = "azovland-hotel"
version = "0.1.0"
description = "azovland-hotel website"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "django-environ>=0.13.0",
    "wagtail>=7.3",
]
