{% extends "base.html" %}

{% block title %}Извините, похоже, произошла ошибка.{% endblock %}

{% block content %}
    <section class="layout-pt-lg content">
          <div data-anim-wrap="" class="container animated">
            <div class="row">
              <div class="col-xl-10 col-lg-11">
                <h2 class="row text-64 md:text-40" style="">
                Извините, похоже, произошла ошибка.
                </h2>
              </div>
            </div>
          </div>
    </section>
{% endblock %}
